#tooltip {
    
    background: #e3e3e3 url(../images/search2.png) no-repeat 5px 50%;
    border: 1px solid #BFBFBF;
    float: left;
    font-size: 10px;
    max-width: 350px;
    height:50px;
    background-size: contain;
    padding: 1em 3em 1em 3em;
    position: absolute;
    padding-left:80px;
    left:-250px;
    top:10px;
    box-shadow: rgba(121,50,50);
    opacity:.5px;
    box-shadow: 7px 7px 5px 0px rgba(26, 22, 22, 0.75);
    
    
}
 
.rounded {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-left:-20px;
    
    
}

.red{
  color: red;
  
}

.blue{
    color: blue;
}

.green{
    color: green;
}


.padding{

margin-left:50px;


}


.arrow{
 position: relative;

   
}
.arrow::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 5%;
    margin-left: -5px;
    border-width:22px 22px;
    border-style: solid;
    border-color: transparent transparent #dee2df transparent;
    
}
